./SPRInG_PolydispersePolymerBuilder
/shalini
/geninit_config/*~
/geninit_config/*pyc
/geninit_config/casenum_*
/geninit_config/switchgrass*
/geninit_config/old*
/geninit_config/pdi_*.inp
/geninit_config/geninp*
/geninit_config/*.o
/geninit_config/*.mod
/geninit_config/polydisp.inp
/geninit_config/*.txt
/geninit_config/__pycache__
/myruns/src_gmx/sh_files/repeat_all.sh
/myruns/src_py/*.pyc
/myruns/src_py/__pycache__
/myruns/src_py/*.pyc
/myruns/src_py/*~
/myruns/src_gmx/sh_files/*~
/shalini
